*~
TAGS
test/TAGS
cabal-dev
dist/
*.imports
*.tix
.hpc
result
*.prof
*.nix
*.hi
*.o
*.swp
#*#
.#*
.DS_Store
**/.DS_Store
docs/templates/out
.cabal-sandbox
cabal.sandbox.config
cabal.project.local
dist-newstyle
.ghc.environment.*
